<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Obrazy</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<body>

<div class="container">
    <div class="row mt-2 mb-2">
        <a th:href="@{/create}" class="btn btn-secondary">Dodaj obraz</a>
    </div>

    <form th:action="@{/}" class="row mt-2 mb-2 d-flex justify-content-center">
        <div class="col-auto">
            <input class="form-control" name="paintingName" th:value="${param.paintingName}"/>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Szukaj</button>
        </div>
    </form>

    <div class="row" th:each="painting : ${paintings}">
        <div class="col-sm-6">
            <h3 th:text="${painting.getName()}"></h3>
            <div th:text="${painting.getAuthor()}"></div>
            <div th:text="${painting.getYear()}"></div>
        </div>
        <div class="col-sm-6">
            <img th:src="${painting.getUrl()}" width="150px" class="float-end"/>
        </div>

        <hr class="mb-2 mt-2"/>
    </div>

</div>

</body>
</html>




