<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Obrazy</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/script.js"></script>
<body>

<div class="container">
    <div class="row mt-2 mb-2">
        <a onclick="ajaxGet()" class="btn btn-secondary">AJAX GET</a>
    </div>

    <div class="row mt-2 mb-2">
        <a onclick="ajaxPost()" class="btn btn-secondary">AJAX POST</a>
    </div>

    <div class="row mt-2 mb-2">
        <a onclick="sendWithHeader()" class="btn btn-secondary">Nagłówki</a>
    </div>

    <div class="row mt-2 mb-2">
        <a onclick="sendWithCookie()" class="btn btn-secondary">Ciastka</a>
    </div>


    <div class="row mt-2 mb-2" id="response"></div>



</div>

</body>
</html>